In [1]:
import pandas as pd
import os
pd.options.display.max_columns = None

In [2]:
input_folder='DataBrut'
output_folder='DataCleaned'
list_month_num=[4,5,6,7,8]
list_fichier_source=['Velib_April.csv','Velib_May.csv','Velib_June.csv','Velib_July.csv','Velib_Aout.csv']
list_fichier_new_station=['New_station_April.csv','New_station_May.csv','New_station_June.csv','New_station_July.csv','New_station_August.csv']

In [3]:
Index_file=0 #0 is for April, 1 is for May, 2 is for June, 3 is for July, 4 is for August
month_num=list_month_num[Index_file]
fichier_source=list_fichier_source[Index_file]
fichier_new_station=list_fichier_new_station[Index_file]

In [4]:
df=pd.read_csv(os.path.join(input_folder, fichier_source))
df

C:\Users\chang\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ebike,capacity,name,nom_arrondissement_communes,numbikesavailable,is_installed,is_renting,mechanical,stationcode,coordonnees_geo,numdocksavailable,duedate,is_returning
0,2,35.0,Benjamin Godard - Victor Hugo,Paris,7,OUI,OUI,5,16107,"[48.865983, 2.275725]",27,2021-04-01 00:55:34+02:00,OUI
1,2,55.0,André Mazet - Saint-André des Arts,Paris,25,OUI,OUI,23,6015,"[48.8537558106, 2.33909580857]",29,2021-04-01 00:55:17+02:00,OUI
2,4,20.0,Charonne - Robert et Sonia Delauney,Paris,13,OUI,OUI,9,11104,"[48.855907556, 2.39257067442]",4,2021-04-01 00:56:52+02:00,OUI
3,7,46.0,Harpe - Saint-Germain,Paris,12,OUI,OUI,5,5001,"[48.851518815, 2.34367031604]",29,2021-04-01 00:56:44+02:00,OUI
4,3,21.0,Toudouze - Clauzel,Paris,3,OUI,OUI,0,9020,"[48.8792959173, 2.33736008406]",18,2021-04-01 00:56:12+02:00,OUI
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5903295,0,18.0,Dunkerque - Alsace,Paris,0,OUI,NON,0,10027,"[48.879355, 2.358379]",18,2021-04-23 12:45:54+02:00,NON
5903296,0,18.0,Dunkerque - Alsace,Paris,0,OUI,NON,0,10027,"[48.879355, 2.358379]",18,2021-04-23 12:45:54+02:00,NON
5903297,0,18.0,Dunkerque - Alsace,Paris,0,OUI,NON,0,10027,"[48.879355, 2.358379]",18,2021-04-23 12:45:54+02:00,NON
5903298,0,18.0,Dunkerque - Alsace,Paris,0,OUI,NON,0,10027,"[48.879355, 2.358379]",18,2021-04-23 12:45:54+02:00,NON
5903299,0,18.0,Dunkerque - Alsace,Paris,0,OUI,NON,0,10027,"[48.879355, 2.358379]",18,2021-04-23 12:45:54+02:00,NON

In [5]:
df.duplicated().sum()
df_cleaned_all=df.drop_duplicates()

In [6]:
df_cleaned_all['duedate']=pd.to_datetime(df_cleaned_all['duedate'].str[:-6],format='%Y-%m-%d %H:%M:%S')

<ipython-input-6-174145d92317>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned_all['duedate']=pd.to_datetime(df_cleaned_all['duedate'].str[:-6],format='%Y-%m-%d %H:%M:%S')

In [7]:
df_cleaned_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2636366 entries, 0 to 5890618
Data columns (total 13 columns):
 #   Column                       Dtype
---  ------                       -----
 0   ebike                        int64
 1   capacity                     float64
 2   name                         object
 3   nom_arrondissement_communes  object
 4   numbikesavailable            int64
 5   is_installed                 object
 6   is_renting                   object
 7   mechanical                   int64
 8   stationcode                  object
 9   coordonnees_geo              object
 10  numdocksavailable            int64
 11  duedate                      datetime64[ns]
 12  is_returning                 object
dtypes: datetime64[ns](1), float64(1), int64(4), object(7)
memory usage: 281.6+ MB

In [8]:
df_cleaned=df_cleaned_all.loc[df_cleaned_all['nom_arrondissement_communes']=='Paris']

In [9]:
df_newstation=df_cleaned.loc[(df_cleaned['capacity']==0 )|(df_cleaned['capacity'].isna())|(df_cleaned['is_installed']=='NON')].sort_values(by='duedate')
df_newstation

,ebike,capacity,name,nom_arrondissement_communes,numbikesavailable,is_installed,is_renting,mechanical,stationcode,coordonnees_geo,numdocksavailable,duedate,is_returning
1692750,0,0.0,Hôpital Européen Georges Pompidou,Paris,0,OUI,OUI,0,15104_relais,"[48.8381470426, 2.27493837476]",0,2021-04-09 16:22:06,OUI
3607040,0,38.0,Diane Arbus,Paris,0,NON,NON,0,18202,"[48.8988007172, 2.35240224749]",38,2021-04-19 10:46:02,NON
3613837,0,38.0,Diane Arbus,Paris,0,NON,NON,0,18202,"[48.8988007172, 2.35240224749]",38,2021-04-19 11:44:41,NON
3622034,0,38.0,Diane Arbus,Paris,0,NON,NON,0,18202,"[48.8988007172, 2.35240224749]",38,2021-04-19 12:48:43,NON
3630265,0,38.0,Diane Arbus,Paris,0,NON,NON,0,18202,"[48.8988007172, 2.35240224749]",38,2021-04-19 13:50:55,NON
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4478607,0,25.0,Parc Floral du Bel Air,Paris,0,NON,NON,0,12166,"[48.8392857119, 2.43856016546]",25,2021-04-23 21:00:08,NON
4486719,0,25.0,Parc Floral du Bel Air,Paris,0,NON,NON,0,12166,"[48.8392857119, 2.43856016546]",25,2021-04-23 22:02:15,NON
4489480,0,25.0,Parc Floral du Bel Air,Paris,2,NON,NON,2,12166,"[48.8392857119, 2.43856016546]",23,2021-04-23 22:02:15,NON
4490850,0,25.0,Parc Floral du Bel Air,Paris,3,NON,NON,3,12166,"[48.8392857119, 2.43856016546]",22,2021-04-23 22:02:15,NON
4493581,0,25.0,Parc Floral du Bel Air,Paris,5,NON,NON,5,12166,"[48.8392857119, 2.43856016546]",20,2021-04-23 22:02:15,NON

In [10]:
list_code_new_station=df_newstation['stationcode'].unique()
list_newsta_unique=[]
for code_station in list_code_new_station:
    df_one_station=df_cleaned.loc[df_cleaned['stationcode']==code_station].drop_duplicates(subset='stationcode',keep='last')
    list_newsta_unique.append(df_one_station)
df_new_station_unique=pd.concat(list_newsta_unique)
df_new_station_unique=df_new_station_unique[['capacity','name','nom_arrondissement_communes','stationcode','coordonnees_geo']]
df_new_station_unique['month_num']=month_num
df_new_station_unique

,capacity,name,nom_arrondissement_communes,stationcode,coordonnees_geo,month_num
1692750,0.0,Hôpital Européen Georges Pompidou,Paris,15104_relais,"[48.8381470426, 2.27493837476]",4
5885356,38.0,Diane Arbus,Paris,18202,"[48.8988007172, 2.35240224749]",4
5879118,25.0,Parc Floral du Bel Air,Paris,12166,"[48.8392857119, 2.43856016546]",4

In [11]:
df_new_station_unique.to_csv(os.path.join(output_folder, fichier_new_station),index=False)